/*common*/
@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('../fonts/FiraSansCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'Fira Sans Condensed', sans-serif;
}
.play-icon {
	background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
    position: absolute;
    top: 33%;
    left: 50%;
    border-radius: 150px;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 52px;
    margin-top: -32px;
    margin-left: -26px;
    border: 6px solid rgba(255,255,255, 0.45);
    color: #ffffff;
}
.page-row {
	width: 98%;
}
.vertical-center {
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
.horizontal-center {
	left: 50%;
	transform: translateX(-50%);
	position: relative;
}
.bg-transparent {
	background: rgba(0,0,0,0.5);
}
/*navigation bar*/
#logo_img {
	width:100px;
	height:auto;
}
#navbarText ul {
	padding: .25rem 0;
}
.navbar-toggler-right {
  border: 0;
  right: -20px;
  top: -15px;
  cursor: pointer;
}
.navbar-transparent {
	background-color: rgba(0,0,0,0.5);
	border-bottom: 1px solid #ccc;
}
.navbar .nav-item {
	padding-top: 1rem;
}
.navbar .nav-link {
  font-size: 14px;
  font-weight: 400;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  background-color: transparent;
  color: #ffffff;
}
/*slider */
#movie_slider {
	cursor: pointer;
}
.carousel-inner {

}
.carousel-inner .carousel-item {
	height: 100vh;
}
.carousel-caption {
	right: auto;
	top: 25%;
	left:4%;
	font-weight: 700;
}
.carousel-caption h1 {
	text-align: left;
	width: 68px;
	font-size: 1.3rem;
	border-bottom: 3px solid #d9534f;
}
.carousel-caption .movie-caption {
	font-size: 80px;
}
.carousel-control-prev,.carousel-control-next {
	width: 5%;
}
#play_movie {
	font-size: 30px;
	left: 48%;
    color: red;
}
#play_movie .fa-play {
	cursor: pointer;
}
/*movie modal box*/
#myModal .modal-dialog {
	max-width: 90%;
	text-align: center;
}
#modal_close {
	float: right;
    position: relative;
    cursor: pointer;
    outline: 0;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background: #dcd9d9;
    top:15px;
    left:15px;
    border:0;
}
#modal_close .fa-times {
	color: #aaa;
    top: 7px;
    left: 9px;
    position: absolute;
}
/* left side */
#left_side_title {
	font-size: 4rem;
	font-weight: 700;
}
#load_more {
	font-weight: 500;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 15px;
}
.card-text {
	font-family: 'Arimo';
	color: #555555;
}
.card-footer {
	color: #aaaaaa;
	font-size: 14px;
}
#video_list .card {

}
#video_list .card img {
	height: 30%;
}
.play-icon .fa-play {
	margin-top: 15px;
	cursor: pointer;
}
/* right side */
.right-item {
  width: 90%;
  text-align: left;
	left: 100%;
  transform: translateX(-100%);
  position: relative;
}
.right-item h2 {
	font-size: 1.3rem;
}
.right-item h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
}
.list-item {
  border-bottom: 1px solid #dfe0e2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  color: #121213;
  font-size: 15px;
}
.list-item a {
  color: #000000;
}
.category-arrow {
  position: absolute;
  left: 0;
  color:#aaa;
}
#search_form input {
  width: 100% !important;
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
  margin: 0px;
  width: calc(100% - 42px);
  padding: 16px 20px;
  font-size: 14px;
  background-image: url(images/search-magnify.png);
  background-position: right 13px;
  background-repeat: no-repeat;
  border-radius: 0px;
  background: #ffffff;
  border-color: #ffffff;
}
#search_form .fa-sistrix {
  position: absolute;
  right: 40px;
  top: 90px;
  font-size: 20px;
  color: #cccccc;
}
#facebook ._2p3a {
  width: 92%;
}
/* footer */
#footer {
	background: black;
}
#footer_dvd {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}
#footer blockquote {
	font-size: 15px;
	font-family: 'Arimo';
}
#copyright_text,.org-link {
	  text-transform: uppercase;
    font-size: 14px;
    color: #666666;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.org-link a {
  color: inherit;
}
.org-name {
	font-size: 1.5rem;
}
.social-icon {
	display: inline-flex;
}
.social-icon svg {
	font-size: inherit;
}
.social-icon .rounded-0 {
  cursor: pointer;
	text-align: center;
    font-size: 15px;
    width: 38px;
    margin-right: 12px;
    height: 38px;
    line-height: 38px;
    background: #222222;
    border-color:#888888;
}
@media (max-width: 1000px) {
	#footer_dvd p {
		margin: 0 !important;
	}
  .footer-dvd div {
    text-align: center;
    margin: 1rem 0;
  }
  .navbar-transparent {
    background: #f7f7f7;
  }
  .navbar .navbar-brand {

  }
  .navbar .navbar-nav .nav-link {
    width:inherit;
  }
}
@media (min-width: 1000px) {
  .navbar .navbar-brand {
  	margin: 0;
  	font-weight: 700;
  	text-align: left;
  	font-size: 30px;
  }
  .navbar .nav-item {
    padding-left: 1.5rem;
  }
  .navbar-transparent .navbar-brand {
    color: #ffffff;
  }
  .navbar-transparent .navbar-nav .nav-link {
  	color: #ffffff;
  }
  .navbar-transparent .navbar-nav .active .nav-link {
  	color: #ddd;
  	border-bottom: 2px solid white;
  }
}
